:host {
  display: block;

  .field {
    small {
      line-height: 10px;
    }
  }

  .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    form {
      width: 400px

    }
  }

  fieldset {
    padding: 12px;
    border-radius: 8px;
    border-color: orange;
    outline: none;
  }
}
