<h2>Component One</h2>
<form [formGroup]="formService.form" (ngSubmit)="onSubmit()">
  <div class="field">
    <label>Title</label>
    <input type="text" formControlName="title">
  </div>

  <div class="field">
    <label>Description</label>
    <input type="text" formControlName="description">
  </div>

  <div class="field">
    <label>Comment</label>
    <input type="text" formControlName="comment">
  </div>

  <button type="submit">
    Submit
  </button>
</form>

<br>

<form [formGroup]="formService.formData">
  <div class="field">
    <label>Title</label>
    <input type="text" formControlName="title">
    @let titleErrors = formService.formData.get('title')?.errors || {};

    @for (error of titleErrors | keyvalue; track error.key) {
      <small style="color: tomato">{{ error.value }}</small>
    }
  </div>

  <div class="field">
    <label>Last name</label>
    <input type="text" formControlName="lastName">
    @let lastNameErrors = formService.formData.get('lastName')?.errors || {};

    @for (error of lastNameErrors | keyvalue; track error.key) {
      <small style="color: tomato">{{ error.value }}</small>
    }
  </div>

  <div class="field">
    <label>Age</label>
    <input type="text" formControlName="age">
    @let ageErrors = formService.formData.get('age')?.errors || {};

    @for (error of ageErrors | keyvalue; track error.key) {
      <small style="color: tomato">{{ error.value }}</small>
    }
  </div>

  <button type="button" (click)="postDataHandel()">
    Post Data
  </button>
</form>
